[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
gym = "*"
fomoro-pyoneer = "==0.2.0"
pycolab = "*"
gym-pycolab = "*"
gym-tool-use = "*"
tensorflow = "==2.0.0-beta1"
tfp-nightly = "*"

[dev-packages]
jupyterlab = "*"
matplotlib = "*"
seaborn = "*"
ipdb = "*"
tqdm = "*"
imageio = "*"

[requires]
python_version = "3.6"
