[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
gym = "*"
fomoro-pyoneer = {editable = true,path = "/Users/fomoro/Documents/pyoneer"}
pycolab = "*"
gym-pycolab = "*"
gym-tool-use = {editable = true,path = "/Users/fomoro/Documents/gym_tool_use"}
tensorflow = "==2.0.0-beta1"
tensorflow-probability = "*"

[dev-packages]
jupyterlab = "*"
matplotlib = "*"
seaborn = "*"
ipdb = "*"
tqdm = "*"
imageio = "*"

[requires]
python_version = "3.6"
